:root {
  --accent1: rgb(157, 2, 213);
  --white: #ffffff;
  --black: black;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.home-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
/* .homebg {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
} */

/* .home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.home-content {
  width: 100%;
  position: absolute;
  left: 50%;
  translate: -50%;
  padding: 2rem;
  max-width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typed > span {
  color: black;
  font-size: 4rem;
}
.home-keyword1 {
  font-style: italic;
}
.home-keyword2 {
  font-family: "Faster One", cursive;
}
.home-keyword3 {
  font-family: "Roboto", sans-serif;
}

@media screen and (width>=1200px) {
  .typed > span {
    font-size: 4.5rem;
  }
}
@media screen and (width<1024px) {
  .typed > span {
    font-size: 4rem;
  }
}
@media screen and (width<900px) {
  .typed > span {
    font-size: 3.5rem;
  }
}
@media screen and (width<768px) {
  .typed > span {
    font-size: 3rem;
  }
}
@media screen and (width<600px) {
  .typed > span {
    font-size: 2.5rem;
  }
}
@media screen and (width<480px) {
  .typed > span {
    font-size: 2rem;
  }
}
@media screen and (width<320px) {
  .typed > span {
    font-size: 1.5rem;
  }
}
