.works-container {
  /* margin: 100px auto; */
  top: 0;
  max-width: 500px;
  padding-bottom: 100px;
  position: absolute;
  scroll-behavior: smooth;
}

.super::-webkit-scrollbar {
  display: none;
}

.works-container .work-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin: 100px 0;
  height: 100%;
}

.workimgdiv {
  width: 300px;
  height: 430px;

  background: white;
  border-radius: 20px;
  transform-origin: 10% 60%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: border 0.2s;
  overflow: hidden;
}

.workimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  transition: 0.2s all;
}

.workimgdiv:hover .workimg {
  scale: 1.2;
  filter: blur(5px);
}

.workimgdiv:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.workimgdiv:hover::after {
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.5);
}
.workimgdiv:active::after {
  scale: 1;
  background: rgba(0, 0, 0, 0.5);
}

.workimgdiv::after {
  content: "Visit";
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  scale: 1.1;
  transition: 0.2s all;
  position: absolute;
}

.splash {
  position: absolute;
  bottom: 0;
  left: -25%;
  right: -25%;
  top: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--accent);

  clip-path: polygon(0 49%, 100% 0, 100% 100%, 0% 100%);
  /* clip-path: inset(0 0 0 0 round 20px); */
}

@media screen and (width<768px) {
}
@media screen and (width<600px) {
}
@media screen and (width<480px) {
}
@media screen and (width<325px) {
}
